@media only screen and (min-width:750px){
    .blog-1{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:"img1 article1";
        grid-template-rows: initial; /*--resetting the previous styling*/
        margin:2rem 5rem;
        gap: 3rem;
        
       }
       .img1 >img{
        height:auto;
        width: 100%;
        object-fit: contain;
        max-width: 450px;
    }

    .article1{
        max-width: 400px;
        border-bottom: 0.10px solid #c5d2d9;
    }
    .section1{
      display: grid;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-areas:"part1 part2 part3";
      grid-template-rows: initial;
      margin:0 5rem;
      gap:2rem;

    }
    
        
        
  }

  